<% provide :title, t("about.title") %>
<h1><%= t "about.abouts" %></h1>
<p><%= t "about.trainer" %><%= t "about.tuanca" %></p>
<p><%= t "about.trainer" %><%= t "about.vietmt" %></p>
<p><%= t "about.trainer" %><%= t "about.trungnt" %></p>
<p><%= t "about.trainee" %><%= t "about.hatd" %></p>
<p><%= t "about.trainee" %><%= t "about.dattt" %></p>
