<% provide :title, t("help.title") %>
<h1> <%= t "help.title" %> </h1>
<p>
  <%= t "help.get" %>
  <a href="http://www.railstutorial.org/#help"> <%= t "help.rails" %> </a>.
  <%= t "help.toget" %>
  <a href="http://www.railstutorial.org/book"> <%= t "help.rails" %> <%= t "help.book" %> </a>
</p>
