<tr>
  <td><%= order_detail.product.name %></td>
  <td><%= order_detail.quantity %></td>
  <td><%= order_detail.unit_price %></td>
  <td>
    <% if current_user? @order.user %>
      <%= link_to t("edit.edit"), edit_order_detail_path(order_detail),
        class: "btn btn-primary" %>
      <%= link_to t("destroy.button"), order_detail_path(order_detail),
        method: :delete,
        class: "btn btn-primary",
        data: {confirm: t("destroy.confirm")} %>
    <% end %>
  </td>
</tr>
<div class="clearfix"></div>
