<% provide :title, t("edit.title") %>
<h1><%= t "edit.order_description" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @order] do |f| %>

      <%= f.label :status %>
      <%= f.select :status, options_for_select(@statuses.collect{
        |key, value|[key, key]}, @order.status) %>

      <%= f.submit t("edit.button"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
