<% provide :title, t("order.order") %>
<div class="td-admin-order-index">
  <%= render "shared/admin_filter_order_form" %>
  <table class="col-md-8 col-md-offset-2 td-admin-order">
    <tr>
      <th></th>
      <th><%= t "user.name" %></th>
      <th><%= t "order.id" %></th>
      <th><%= t "order.total" %></th>
      <th><%= t "order.status" %></th>
      <th></th>
      <th></th>
    </tr>
    <%= render @orders %>
  </table>
  <div class="td-paginate"><%= will_paginate %></div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
