<li>
  <div class="td-btn"><%= user_avatar_select user %></div>
  <span><%= link_to user.name, user %></span>
  <p><%= user.email %></p>
  <p><%= user.phone_number %></p>
  <p><%= user.address %></p>
</li>
