<% provide :title, t("user.title") %>
<h1><%= t "user.title" %></h1>
<div class="td-admin-user">
  <table class="col-md-8 col-md-offset-2 td-user-table">
    <tr class="user-title">
      <th class="first"></th>
      <th><%= t "user.name" %></th>
      <th><%= t "user.email" %></th>
      <th><%= t "user.phone" %></th>
      <th><%= t "user.address" %></th>
    </tr>
    <%= render @users %>
  </table>
  <%= will_paginate %>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
