<% provide :title, @user.name %>
<div class="col-md-8 col-md-offset-2 td-profile">
  <div class="profile-left col-md-6">
    <div class="td-img-profile">
      <%= user_avatar_select @user %>
    </div>
    <div class="clearfix"></div>
    <p class="first-child"><%= t "user.email" %>: </p></br>
    <div class="clearfix"></div>
    <p><%= t "user.phone" %>: </p></br>
    <div class="clearfix"></div>
    <p><%= t "user.address" %>: </p></br>
  </div>
  <div class="profile-right col-md-6">
    <p class="first-child"><%= link_to @user.name, @user %></p>
    <p><%= @user.email %></p>
    <p><%= @user.phone_number %></p>
    <p><%= @user.address %></p>
  </div>
  <div class="clearfix"></div>
  <section class="stats">
    <%= render 'shared/stats' %>
  </section>
  <%= render 'follow_form' if logged_in? %>
</div>
<div class="clearfix"></div>
