<div class="col-md-8 col-md-offset-2">
  <table>
    <tr>
      <th></th>
      <th><%= t "user.name" %></th>
      <th><%= t "order.id" %></th>
      <th><%= t "order.total" %></th>
      <th><%= t "order.status" %></th>
    </tr>
    <%= render @orders %>
  </table>
</div>
<div class="clearfix"></div>
