<table>
  <tr>
    <th><%= t "order.name" %></th>
    <th><%= t "order.quanity" %></th>
    <th><%= t "order.unit_price" %></th>
    <th></th>
  </tr>
  <%= render @order_details %>
</table> 
<span class="pirce">
  <% t "order.total"%><%= number_to_currency current_order[:total_pay] %>
</span>
<%= link_to t("order.continue"), categories_path, class: "btn btn-primary" %>
<%= form_for @order do |f| %>
  <%= f.submit t("order.buy_direct"), class: "btn btn-primary" %>
  <%= f.hidden_field :status, value: "ordered" %>
<% end %>
<%= button_tag(content_tag(:p, "ATM_cart"), class: "btn btn-primary td-atm") %>
<div class="atm-cart">
  <div class="col-md-8 col-md-offset-2 td-atm-content">
    <span class="icon"></span>
    <%= form_for @order do |f| %>
      <%= label_tag "name", t("filter.name") %>
      <%= text_field_tag "name" %>
      <%= label_tag "cart-date", t("cart.create") %>
      <%= text_field_tag "cart-date" %>
      <%= label_tag "cart-pass", t("cart.sign") %>
      <%= text_field_tag "cart-pass" %>

      <%= f.submit t("order.buy_atm"), class: "btn btn-primary" %>

      <%= f.hidden_field :status, value: "ordered" %>
    <% end %>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
