<% provide :title, t("productindex.title") %>
<div class="col-md-8">
  <%= render "shared/filter_form" %>
  <%= link_to t("productindex.create"), new_admin_product_path, class: "btn btn-primary" %>
  <%= will_paginate %>
  <ul class="products" id="current-product">
    <%= render @products %>
  </ul>
  <%= will_paginate %>
</div>
<div class="clearfix"></div>
