<tr id="user-<%= user.id %>">
  <td class="td-user-img">
    <div class="td-btn"><%= link_to user_avatar_select(user), user %></div>
  </td>
  <td><%= link_to user.name, user %></td>
  <td><%= user.email %></td>
  <td><%= user.phone_number %></td>
  <td><%= user.address %></td>
  <td>
    <%= link_to t("destroy.button"), admin_user_path(user), method: :delete,
      class: "btn btn-primary",
      data: {confirm: t("destroy.confirm")} unless user.admins? %>
  </td>
</tr>
