<div>
  <li id="product-<%= product.id %>">
    <span class="image-show"><%= link_to product_image_select(product), product %></span><br>
    <span class="name"><%= t "product.name" %><%= product.name %></span><br>
    <span class="description"><%= t "product.description" %><%= product.description %></span><br>
    <span class="price"><%= t "product.price" %><%= product.price %></span><br>
    <span class="number"><%= t "product.number" %><%= product.number %></span><br>
    <span class="rate">
      <%= t "product.rate" %><%= product.rates.average :vote %>
    </span><br>
  </li>
  <div class="clearfix"></div>
</div>
