<% provide :title, @product.name %>
<div class="col-md-8">
  <ul class="products" id="current-product">
    <%= render @product %>
  </ul>
  <ul id="comments_<%= @product.id %>">
    <%= render @product.comments.order_by_time %>
  </ul>
  <% if logged_in? %>
    <%= render "shared/comment_form" %>
    <% unless current_user.has_voted @product %>
      <% @votes.each do |key, value| %>
        <%= render "shared/rate_form", key: key %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="clearfix"></div>
