<footer class="footer">
  <div class="col-md-3">
    <ul>
      <li class="footer-title">Coppy right</li>
      <li><i><%= t "footer.coppy-right" %></i></li>
      <li><i><%= t "footer.power"%></i></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li class="footer-title"><%= t "footer.contact" %></li>
      <li>
        <span class="placeholder"></span>
        <i><%= t "footer.framgia" %></i>
      </li>
      <li><i><%= t "footer.add-1" %></i></li>
      <li>
        <span class="placeholder"></span>
        <i><%= t "footer.labo" %></i>
      </li>
      <li><i><%= t "footer.add-2" %></i></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li class="footer-title"><%= t "footer.connect" %></li>
      <li><i></i></li>
      <li><i></i></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li class="footer-title"><%= t "footer.intro" %></li>
      <li><i>
        <%= t "footer.intro-1 "%>
      </i></li>
      <li><i><%= t "footer.intro-2 "%></i></li>
    </ul>
  </div>
</footer>