<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": true %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container-fluid">
      <div class="row">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
        <%= render "layouts/footer" %>
      </div>
      <% if logged_in? %>
        <% unless current_user.admins? %>
          <div class="suggestion-box">
            <div class="box"><b class="glyphicon glyphicon-comment"></b></div>
            <section class="suggestion_form col-md-10 col-md-offset-1">
              <p class="text-center td-sug-title"><%= t "suggestion.idea" %></p>
              <%= form_for @suggestion do |f| %>
                <%= render "shared/error_messages", object: @suggestion %>
                <div class="field">
                  <%= f.text_field :content, placeholder: t("suggestion.add") %>
                </div>
                <%= f.submit t("suggestion.button"), class: "btn btn-primary" %>
              <% end %>
            </section>
          </div>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
